[submodule "src/ros2-lidar-object-detection"]
	path = src/ros2-lidar-object-detection
	url = https://github.com/ITIGP-ROS/ros2-lidar-object-detection
	branch = master

[submodule "src/ros2_yolos_cpp"]
	path = src/ros2_yolos_cpp
	url = https://github.com/Geekgineer/ros2_yolos_cpp.git
	branch = main
[submodule "src/ros2_yolos_cpp_trt"]
	path = src/ros2_yolos_cpp_trt
	url = https://github.com/YouhanaBeshay/ros2_yolos_cpp_trt.git
	branch = dev
[submodule "src/CUDA-PointPillars-ROS2"]
	path = src/CUDA-PointPillars-ROS2
	url = https://github.com/Abdulrahman2200925/CUDA-PointPillars-ROS2.git
[submodule "src/ros2-lidar-perception"]
	path = src/ros2-lidar-perception
	url = https://github.com/ITIGP-ROS/ros2-lidar-perception.git
	branch = main
[submodule "src/livox_ros_driver2"]
	path = src/livox_ros_driver2
	url = https://github.com/Livox-SDK/livox_ros_driver2.git
	branch = master
